.slideRoot {
  width: 100%;
  height: 100%;
  background-image: url(./img/slide1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    font-size: 10vw;
    font-family: 'Inter var experimental';
    font-variation-settings: "wght" 900, "slnt" -10;
    transform: scaleX(1.5);
    transform-origin: top left;
    visibility: hidden;
    position: absolute;

    .haval {
      color: #ffe700;
    }
    .f7 {
      -webkit-text-stroke: .8px #ffe700;
      -webkit-text-fill-color: transparent;
      &.hover {
        -webkit-text-fill-color: #ffe700;
      }
    }
  }

  h3 {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Inter var experimental';
    font-variation-settings: "wght" 700, "slnt" -10;
    font-size: 1.8vw;
    position: absolute;
    left: 50.5%;
    span {
      opacity: 0;
    }
  }
}
